#### 데이터프레임과 시리즈
- DataFrame consists of rows and columns, which make a table form.
- Series on the other hand is a form of DataFrame with only one column

In [2]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.1.1-cp310-cp310-win_amd64.whl (10.7 MB)
                                              0.0/10.7 MB ? eta -:--:--
     -                                        0.4/10.7 MB 13.2 MB/s eta 0:00:01
     ---                                      0.8/10.7 MB 10.6 MB/s eta 0:00:01
     ----                                     1.2/10.7 MB 11.3 MB/s eta 0:00:01
     ------                                   1.6/10.7 MB 11.5 MB/s eta 0:00:01
     -------                                  2.1/10.7 MB 11.9 MB/s eta 0:00:01
     ---------                                2.5/10.7 MB 11.4 MB/s eta 0:00:01
     ----------                               2.9/10.7 MB 11.6 MB/s eta 0:00:01
     ------------                             3.3/10.7 MB 11.8 MB/s eta 0:00:01
     -------------                            3.7/10.7 MB 11.4 MB/s eta 0:00:01
     ---------------                          4.2/10.7 MB 11.5 MB/s eta 0:00:01
     -----------------                        4.6/10.7 MB 11.6 MB/s eta 0:00:01
     ------------------                       5.0/10.7 MB 11.4 MB/s eta 0:00:01
     --------------------                     5.4/10.7 MB 11.5 MB/s eta 0:00:01
     ---------------------                    5.8/10.7 MB 11.6 MB/s eta 0:00:01
     -----------------------                  6.2/10.7 MB 11.7 MB/s eta 0:00:01
     ------------------------                 6.6/10.7 MB 11.4 MB/s eta 0:00:01
     --------------------------               7.1/10.7 MB 11.5 MB/s eta 0:00:01
     ---------------------------              7.5/10.7 MB 11.6 MB/s eta 0:00:01
     -----------------------------            7.9/10.7 MB 11.4 MB/s eta 0:00:01
     -------------------------------          8.3/10.7 MB 11.5 MB/s eta 0:00:01
     --------------------------------         8.7/10.7 MB 11.6 MB/s eta 0:00:01
     ----------------------------------       9.1/10.7 MB 11.7 MB/s eta 0:00:01
     -----------------------------------      9.5/10.7 MB 11.5 MB/s eta 0:00:01
     ------------------------------------    10.0/10.7 MB 11.6 MB/s eta 0:00:01
     -------------------------------------   10.4/10.7 MB 11.7 MB/s eta 0:00:01
     --------------------------------------  10.7/10.7 MB 11.5 MB/s eta 0:00:01
     --------------------------------------  10.7/10.7 MB 11.5 MB/s eta 0:00:01
     --------------------------------------  10.7/10.7 MB 11.5 MB/s eta 0:00:01
     --------------------------------------  10.7/10.7 MB 11.5 MB/s eta 0:00:01
     --------------------------------------- 10.7/10.7 MB 10.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.22.4 in c:\users\박해극\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.25.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\박해극\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
                                              0.0/502.5 kB ? eta -:--:--
     ------------------------------        419.8/502.5 kB 13.2 MB/s eta 0:00:01
     ------------------------------------- 502.5/502.5 kB 15.9 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 10.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\박해극\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: C:\Users\박해극\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [5]:
# Create two Series of Data
menu = ['Fried Rice', 'Kimchi Jeon', 'Jjajangmyun']
series_a = pd.Series(menu)
series_a

0     Fried Rice
1    Kimchi Jeon
2    Jjajangmyun
dtype: object

In [6]:
# Check the type

type(series_a)

pandas.core.series.Series

In [14]:
# Created another Series for merging
price = [10000, 20000, 30000]
new_price = list(map(lambda x: format(x,','), price))
pd.Series(new_price)

0    10,000
1    20,000
2    30,000
dtype: object

In [17]:
# Creating a datafram by merging two series
dataset = {
    'menu': menu,
    'price': new_price
}
df = pd.DataFrame(dataset)

df

          menu   price
0   Fried Rice  10,000
1  Kimchi Jeon  20,000
2  Jjajangmyun  30,000

In [18]:
#checking the data type of df
type(df)

pandas.core.frame.DataFrame

In [19]:
# Creating a Dataframe without series/ or just STRAIGHT UP

data = {
    'menu': ['rice', 'curry', 'ramen'],
    'price': [2000, 7000, 8000],
    'ranking': [2, 3, 1]
}

new_df = pd.DataFrame(data)
new_df

    menu  price  ranking
0   rice   2000        2
1  curry   7000        3
2  ramen   8000        1

In [26]:
# saving dataframes as csv files

new_df.to_csv('wadu.csv', index = False)
df.to_csv('food.csv')

pd.read_csv('wadu.csv')

    menu  price  ranking
0   rice   2000        2
1  curry   7000        3
2  ramen   8000        1

In [25]:
# when saving to a csv file set index to false so the index column remains unnamed
# as opposed to the output below
pd.read_csv('food.csv')

   Unnamed: 0         menu   price
0           0   Fried Rice  10,000
1           1  Kimchi Jeon  20,000
2           2  Jjajangmyun  30,000

In [33]:
# to view the last n row of data, use tail method

df.tail(2)

          menu   price
1  Kimchi Jeon  20,000
2  Jjajangmyun  30,000

In [34]:
# To view first n rows of data, use head method
df.head(1)

         menu   price
0  Fried Rice  10,000

### How to Select Data using Pandas

In [35]:
# the whole row associated with menu prints
# Make sure to use bracket[] as would you for indexing or slicing texts
df['menu']

0     Fried Rice
1    Kimchi Jeon
2    Jjajangmyun
Name: menu, dtype: object

In [36]:
# to select multiple rows associated with certain feature
# nest a list inside the list [[]]

df[['menu', 'price']]

          menu   price
0   Fried Rice  10,000
1  Kimchi Jeon  20,000
2  Jjajangmyun  30,000