## 리스트 활용법 in python

In [1]:
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']
for i, player in enumerate(napoli_player):
    print(i)

0
1
2
3

- enumerate 함수는 인덱스와 요소를 튜플로 묶어낸다

In [2]:
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']
for i, player in enumerate(napoli_player):
    print(i, player)

0 minjae
1 크바라츠헬리아
2 Osimhen
3 Anguissa

- 여기서 i 와 player는 튜플의 요소를 불러온 것

In [7]:
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']
ls = [i for i in enumerate(napoli_player)]
print(ls)

[(0, 'minjae'), (1, '크바라츠헬리아'), (2, 'Osimhen'), (3, 'Anguissa')]

- 리스트 컴프리헨션으로 enumerate 함수에서 생성된 튜플을 리스트에다 넣었다

## zip 함수

In [3]:
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa'] 
zip(napoli_num, napoli_player)

In [2]:
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa'] 
print(zip(napoli_num, napoli_player))
for i in zip(napoli_num, napoli_player):
    print(i)

<zip object at 0x00000205F71B1900>
(3, 'minjae')
(77, '크바라츠헬리아')
(9, 'Osimhen')
(99, 'Anguissa')

- 여기서 이터러블은 napoli_num 과 napoli_player 의 각 요소들을 (첫번째 순서부터) 튜플로 구성된 리스트이다
- 이터레이터는 리스트 안에 구성된 튜플이다

In [4]:
zip_ls = list(zip(napoli_num, napoli_player))
print(zip_ls) #먼저 zip된 데이터를 출력해서 리스트로 나오는지 확인

napoli_num, napoli_player = zip(*zip_ls)
print(napoli_num, napoli_player) # *를 활용하여 원래 napoli_num 형태같이 돌아가나 tuple 형태로 반환

[(3, 'minjae'), (77, '크바라츠헬리아'), (9, 'Osimhen'), (99, 'Anguissa')]
(3, 77, 9, 99) ('minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa')

In [5]:
# for 문과 multi variable loop을 활용
# 딕셔너리 형태로 만들어보기

napoli_profile = {k:v for k, v in zip(napoli_num, napoli_player)}
print(napoli_profile)

for k, v in napoli_profile.items():
    print(k, v)

{3: 'minjae', 77: '크바라츠헬리아', 9: 'Osimhen', 99: 'Anguissa'}
3 minjae
77 크바라츠헬리아
9 Osimhen
99 Anguissa

- 변수 하나의 loop 와 두개의 loop의 차이는 변수 두개일때 두개가 한 쌍으로 이터레이터가 되면서 loop를 돈다
    - (k, v) 의 이터레이터 안에 요소 k와 v가 이터레이터가 되는셈
    - 한 쌍으로 움직이는 것
- 아래 tuple 이 들어간 리스트 for 문 loop

```
lst = [(2,3), "c"]
for a in lst:
    print(a)
    #output: (2,3) c
```

## Lambda Expression

In [12]:
add = lambda x : x + 2
add(3)

5

- 람다함수의 특징은 함수이름이 따로 없고 return 값은 콜론 뒤에 온다
- 클로저 함수처럼 add() 에다 변수를 집어 넣으면 된다

In [14]:
(lambda x: y = 10; x + y)(1)
# 람다식 안에서는 새로운 변수를 만들 수 없음

SyntaxError: invalid syntax (850599577.py, line 1)

In [13]:
(lambda x, y: x + y)(1, 10)
# 이 코드처럼 변환해야 됨

11

- 인수가 두개일 경우 람다식 뒤에 tuple 형태로 두 개의 인자를 넣어준다

In [15]:
y = ' 나폴리 '
(lambda x : x + y)('이탈리아') # y 는 global variable 이고 '이탈리아'는 local variable 이다

NameError: name 'x' is not defined

1. y 는 전역변수이므로 람다식에서 필요한 건 x 이다.
2. 그러므로 y는 이미 정해진 상태이므로 x 만 지정해주면 되는데 이걸 '이탈리아'로 지역변수를 칭함
    - ('이탈리아') 형태가 x 에 지정된다

### map() filter() reduce()

In [19]:
# map(function, parameter) this is the form used when applying the map function
# parameters are often list or tuple
def second(x):
    results = x * 2
    return results

# 리스트 
two = [i for i in range(10)]

# map() + 일반함수
print(list(map(second, two)))
tuple(map(second, two))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

- In the map function, it takes two parameters which are functions and data structures
- the map function above took a function named second and a list named two as parameters
- each element in the list "two" plays as an argument for the Second function

In [20]:
def odd(x):
    if x % 2 == 1:
        return x

# 리스트
two = [i for i in range(10)]

# list(filter() + 일반 함수)
list(filter(odd, two))

[1, 3, 5, 7, 9]

- filter function on the other hand clean elements in the list by a certain condition.
- The condition is usually set by a function, which in this case would be the odd function that returns odd numbers when elements in the "two" list taken in as arguments.

In [22]:
from functools import reduce
# 일반 함수
def f(x, y):
    return x * y

# 리스트
a = [1, 2, 3, 4, 5]

# reduce(일반 함수, 이터러블 객체)
reduce(f, a)

120

- The reduce function takes a function and a list of elements as input and reduces the list to a single value. The function is applied to two elements in the list at a time, and the result(of the two elements multiplying each other) is used as the input for the next iteration of the function.

### using Lambda with map, filter, reduce

In [ ]:
ls = [i for i in range(11)]
list(map(lambda x: x ** 2, ls)) # lambda function and ls as the parameters
                                # function defined as x ** 2, this is how the list will be modified by.

quiz_list = [i for i in range(10)]              
list(filter(lambda x: 4 <= x <=6, quiz_list))   # elements in quiz_list will be filtered by the condition lambda function
                                                # list will only have i that are 4 or greater and 6 or less. 

# 리스트
a = [1, 2, 3, 4, 5]

# reduce(람다 함수, 이터러블 객체)
reduce(lambda x, y : x * y, a) # list a will be reduced down to a single number which is five factorial (120)

### 일급객체

In [ ]:
a, b = 3, 1
def add(x, y):
    print(x + y)

add(a, b)

In [ ]:
def add(a, b):   
    return a + b  

# f1이라는 변수에 add 함수 할당
f1 = add         

print(add)      
print(f1)

In [ ]:
def add(a, b): 
    return a + b

def minus(a, b):
    return a - b

# 리스트에 함수 할당
calc = [add, minus]

for i in calc:
    print(i(10, 5)) # 15와 5를 출력

### CLASS